.notbody2{
    padding: 500px 20px 0px 0px;
}

.notbody3{
    padding: 600px 0px 0px 0px;
}

#Manual{
    position: relative;
    width: 30%;
    float: left;
    top: 180px;
    left: 50px;
}

#ManualImg{
    width: auto;
    float: left;
}


